[Unit]
Description=AutoBan Service (IP Blocker via Journald and Nginx Rate limit)
After=network.target systemd-journald.service nginx.service

[Service]
Type=notify
NotifyAccess=main
# Service logic
ExecStart=/usr/local/bin/autoban /etc/autoban/autoban.conf
Restart=always
RestartSec=5

# Đảm bảo có thư mục Runtime để Unix Socket bind thành công dưới quyền autoban
RuntimeDirectory=autoban
RuntimeDirectoryMode=0700

# Sandbox & Privilege Escapement Prevention
User=autoban
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=yes

# Yêu cầu service đọc syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autoban_daemon

[Install]
WantedBy=multi-user.target
